<div class="section first-section">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card-article">
                    <div class="card-shade card-block">
                        <a href="#paper-kit" title="{{testTitle1}}">
                            <p class="card-title">
                                {{testTitle1}}
                            </p>
                        </a>
                        <p class="card-description text-center" title="{{testContent1}}">
                            {{testContent1}}
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card-shade card-article">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <p class="card-title" title="{{testTitle2}}">
                                {{testTitle2}}
                            </p>
                        </a>
                        <p class="card-description text-center" title="{{testContent2}}">
                            {{testContent2}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr style="border-width:5px;">
    </div>
</div>
