<div class="section section-solarized-dark">
    <div class="container tim-container">
        <div id="images">
            <div class="container">
                <div class="row">
                    <h3 class="subtitle">Mixer Top 50</h3>
                    <table class="table table-striped table-responsive-md btn-table">
                        <thead>
                        <tr>
                            <th class="hidden">Id</th>
                            <th>User Name</th>
                            <th>Playing</th>
                            <th>Total Views</th>
                            <th>Total Followers</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let mixerUser of mixerChannel; index as i">
                            <td class="hidden">{{i + 1}}</td>
                            <td>{{mixerUser.user.username}}</td>
                            <td>{{mixerUser.online == true ? 'Yes' : 'No'}}</td>
                            <td>{{mixerUser.viewersTotal}}</td>
                            <td>{{mixerUser.numFollowers}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
