<div class="section section-solarized-dark">
    <div class="container tim-container">
        <div class="row">
            <div class="col-md-4">
                <div class="collection-title">
                    <h4>Java Series</h4>
                    <img src="assets/img/icon-javaseries-home.png"
                         style="max-height:100%; max-width: 100%; background-repeat: no-repeat;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.baeldung.com/java-tutorial">Java Tutorial</a>
                        </li>
                        <li class="list-group-item"><a href="https://www.baeldung.com/java-streams">Java Streams
                            Tutorials</a></li>
                        <li class="list-group-item"><a href="https://www.baeldung.com/java-reflection">Java
                            Reflection</a></li>
                        <li class="list-group-item"><a href="https://www.baeldung.com/java-collections">Java Collection
                            Tutorials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="collection-title">
                    <h4>Spring Series</h4>
                    <img src="assets/img/homepage-weekly_reviews.jpg"
                         style="max-height:100%; max-width: 100%; background-repeat: no-repeat;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Content Page Testing</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="collection-title">
                    <h4>HTML Series</h4>
                    <img src="assets/img/homepage-jackson_series.jpg"
                         style="max-height:100%; max-width: 100%; background-repeat: no-repeat;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>