.collection-title {
  h4 {
    font-family: bptypewrite, serif;
    color: #b58900;
    font-weight: bold;
  }

  li {
    font-size: larger;
    font-weight: bolder;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}